@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black;
}

a {
    @apply hover:underline text-blue-200;
}
